# 台股財報擷取-綜合損益表

網址：[公開資訊觀測站/財務報表/採IFRS後/合併/個別報表/綜合損益表](https://mops.twse.com.tw/mops/web/t164sb04)

In [1]:
import requests, os, sqlite3
import pandas as pd

In [2]:
print('擷取台股財報－綜合損益表...')
sid = input('請輸入個股代號：')
year = input('請輸入擷取年度（請輸入民國年，譬如：108）：')
season = input('請輸入擷取季（輸入格式及區間：01 ~ 04）：')

擷取台股財報－綜合損益表...
請輸入個股代號：2376
請輸入擷取年度（請輸入民國年，譬如：108）：108
請輸入擷取季（輸入格式及區間：01 ~ 04）：04

In [3]:
# 設定網址及 post 表單參數

url = 'https://mops.twse.com.tw/mops/web/t164sb04'
form_data = {
    'encodeURIComponent':1,
    'step':1,
    'firstin':1,
    'off':1,
    'queryName':'co_id',
    'inputType':'co_id',
    'TYPEK':'all',
    'isnew':'false',
    'co_id':sid,
    'year':year,
    'season':season,
}

In [4]:
# 擷取資料

try:
    data = requests.post(url, data=form_data)
except Exception as e:
    print('**WARRN: 擷取失敗')
    print('錯誤訊息', e)
else:
    #print('成功擷取！')
    print(data.text[:1000])

<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

<title>公開資訊觀測站</title>
<link href="css/css1.css" rel="stylesheet" type="text/css" Media="Screen"/>
<link href="css/print_css1.css" rel="stylesheet" type="text/css" Media="Print"/>
<link href="css/clickmenu.css"rel="stylesheet" type="text/css"/>

<script type="text/javascript" src="js/mops1.js"></script>

<script type="text/javascript" src="js/jquery-1.1.4.pack.js"></script>
<script type="text/javascript" src="js/jquery.clickmenu.js"></script>


</head>
<body>

<center>
<table border="0"><tr><td align="left">
<form name='fh' style='margin:0;' action='/mops/web/ajax_autoComplete' method='post' onsubmit='return false;'><input type='hidden' name='firstin' id='firstin' value = '1'><input type='hidden' name='TYPEK' id='TYPE

In [5]:
# 使用 pandas 讀取網頁裡的表格資料

dfs = pd.read_html(data.text)
#dfs = pd.read_html('i2-income.html')

In [6]:
# 取得綜合損益表表格資料

# print(len(dfs))
# dfs[10]
df = dfs[10]
df.head(5)

           民國108年第4季                                          \
            單位：新台幣仟元
                會計項目       108年度               107年度
  Unnamed: 0_level_3          金額       %          金額       %
0             營業收入合計  61781254.0  100.00  60923590.0  100.00
1             營業成本合計  52190385.0   84.48  50800376.0   83.38
2           營業毛利（毛損）   9590869.0   15.52  10123214.0   16.62
3         營業毛利（毛損）淨額   9590869.0   15.52  10123214.0   16.62
4               營業費用         NaN     NaN         NaN     NaN



  Unnamed: 5_level_2
  Unnamed: 5_level_3
0                NaN
1                NaN
2                NaN
3                NaN
4                NaN

In [7]:
# 查看列數及欄數

df.shape

(41, 6)

In [8]:
# 重設欄位名稱

#print(df.columns)
df.columns = list(range(df.shape[1]))
#print(df.columns)
df.head(5)

            0           1       2           3       4   5
0      營業收入合計  61781254.0  100.00  60923590.0  100.00 NaN
1      營業成本合計  52190385.0   84.48  50800376.0   83.38 NaN
2    營業毛利（毛損）   9590869.0   15.52  10123214.0   16.62 NaN
3  營業毛利（毛損）淨額   9590869.0   15.52  10123214.0   16.62 NaN
4        營業費用         NaN     NaN         NaN     NaN NaN

In [9]:
# 設定索引值

df = df.set_index(0)
df.head(5)

                     1       2           3       4   5
0
營業收入合計      61781254.0  100.00  60923590.0  100.00 NaN
營業成本合計      52190385.0   84.48  50800376.0   83.38 NaN
營業毛利（毛損）     9590869.0   15.52  10123214.0   16.62 NaN
營業毛利（毛損）淨額   9590869.0   15.52  10123214.0   16.62 NaN
營業費用               NaN     NaN         NaN     NaN NaN

In [10]:
# 只取第一欄資料(即當季財報), 及刪除 nan 項

df1 = df[1].dropna()
df1

0
營業收入合計                           61781254.00
營業成本合計                           52190385.00
營業毛利（毛損）                          9590869.00
營業毛利（毛損）淨額                        9590869.00
推銷費用                              4280298.00
管理費用                              1814616.00
研究發展費用                            2020307.00
預期信用減損損失（利益）                        28415.00
營業費用合計                            8143636.00
營業利益（損失）                          1447233.00
其他收入                               796183.00
其他利益及損失淨額                           56445.00
財務成本淨額                              10845.00
採用權益法認列之關聯企業及合資損益之份額淨額             -25768.00
營業外收入及支出合計                         816015.00
稅前淨利（淨損）                          2263248.00
所得稅費用（利益）合計                        355705.00
繼續營業單位本期淨利（淨損）                    1907543.00
本期淨利（淨損）                          1907543.00
確定福利計畫之再衡量數                        -29084.00
透過其他綜合損益按公允價值衡量之權益工具投資未實現評價損益      509446.00
與不重分類之項目相關之所得稅                      -5817.00
不重分類至損益之項目：                        486179.00
國外營運機構財務報表換算之兌換差額                 -276549.00
後續可能重分類至損益之項目：                    -276549.00
其他綜合損益（淨額）                         209630.00
本期綜合損益總額                          2117173.00
母公司業主（淨利∕損）                       1939241.00
非控制權益（淨利∕損）                        -31698.00
母公司業主（綜合損益）                       2148871.00
非控制權益（綜合損益）                        -31698.00
繼續營業單位淨利（淨損）                            3.05
基本每股盈餘                                  3.05
繼續營業單位淨利（淨損）                            3.02
稀釋每股盈餘                                  3.02
Name: 1, dtype: float64

In [11]:
# 只取1個欄位資料後, 變成 series, 需轉換為 Dataframe

df1 = pd.DataFrame(df1)

In [12]:
# 轉置表格, 即列與欄交換

df1 = df1.transpose()
df1

,營業收入合計,營業成本合計,營業毛利（毛損）,營業毛利（毛損）淨額,推銷費用,管理費用,研究發展費用,預期信用減損損失（利益）,營業費用合計,營業利益（損失）,...,其他綜合損益（淨額）,本期綜合損益總額,母公司業主（淨利∕損）,非控制權益（淨利∕損）,母公司業主（綜合損益）,非控制權益（綜合損益）,繼續營業單位淨利（淨損）,基本每股盈餘,繼續營業單位淨利（淨損）,稀釋每股盈餘
1,61781254.0,52190385.0,9590869.0,9590869.0,4280298.0,1814616.0,2020307.0,28415.0,8143636.0,1447233.0,...,209630.0,2117173.0,1939241.0,-31698.0,2148871.0,-31698.0,3.05,3.05,3.02,3.02

In [21]:
# 刪除重覆欄位

df1 = df1.loc[:, ~df1.columns.duplicated()]
df1

,,,營業收入合計,營業成本合計,營業毛利（毛損）,營業毛利（毛損）淨額,推銷費用,管理費用,研究發展費用,預期信用減損損失（利益）,營業費用合計,營業利益（損失）,...,後續可能重分類至損益之項目：,其他綜合損益（淨額）,本期綜合損益總額,母公司業主（淨利∕損）,非控制權益（淨利∕損）,母公司業主（綜合損益）,非控制權益（綜合損益）,繼續營業單位淨利（淨損）,基本每股盈餘,稀釋每股盈餘
sid,year,season,,,,,,,,,,,,,,,,,,,,,
2376,108,04,61781254.0,52190385.0,9590869.0,9590869.0,4280298.0,1814616.0,2020307.0,28415.0,8143636.0,1447233.0,...,-276549.0,209630.0,2117173.0,1939241.0,-31698.0,2148871.0,-31698.0,3.05,3.05,3.02

In [13]:
# 新增股票代碼及財報日期欄位

df1['sid'] = sid
df1['year'] = year
df1['season'] = season

# 設定索引值

df1 = df1.set_index(['sid', 'year', 'season'])
df1

,,,營業收入合計,營業成本合計,營業毛利（毛損）,營業毛利（毛損）淨額,推銷費用,管理費用,研究發展費用,預期信用減損損失（利益）,營業費用合計,營業利益（損失）,...,其他綜合損益（淨額）,本期綜合損益總額,母公司業主（淨利∕損）,非控制權益（淨利∕損）,母公司業主（綜合損益）,非控制權益（綜合損益）,繼續營業單位淨利（淨損）,基本每股盈餘,繼續營業單位淨利（淨損）,稀釋每股盈餘
sid,year,season,,,,,,,,,,,,,,,,,,,,,
2376,108,04,61781254.0,52190385.0,9590869.0,9590869.0,4280298.0,1814616.0,2020307.0,28415.0,8143636.0,1447233.0,...,209630.0,2117173.0,1939241.0,-31698.0,2148871.0,-31698.0,3.05,3.05,3.02,3.02

In [22]:
conn = sqlite3.connect(os.path.join('data', 'stock.db'))

# 判斷 income table 是否已存在
query = "select count(*) from sqlite_master where type='table' and name='income'"
exist = list(conn.execute(query))[0][0]

# 如果 bs table 存在，新增資料，否則，建立表格及新增資料
if exist:
    # 讀取資料庫中原有資料
    data = pd.read_sql('select * from income', conn, index_col=(['sid', 'year', 'season']))
    
    # 合併原有資料與新資料
    newdf = pd.concat([data, df1], sort=True)

    # 刪除重覆項
    newdf.drop_duplicates(inplace=True)
    
    newdf.to_sql('income', conn, if_exists='replace')
    print('資料新增完畢!')
else:
    df1.to_sql('income', conn, if_exists='replace')
    print('資料儲存完畢!')

conn.close()

資料儲存完畢!